body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #424242 url(body_bg.png);
  font-family: "Flexo-Regular", arial, sans-serif;
  overflow-x: hidden;
}
.head {
  width: 100vw;
  justify-content: center;
  display: flex;
  background-color: #f5f5f5;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: sticky;
  top: -33px;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: center;
  background: #ffffff;
  width: 860px;
}
.nav-item {
  font-family: "Roboto", arial, sans-serif;
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  transition: background 0.3s;
  border-bottom: 2px solid red;
  font-weight: 500;
  color: #464646;
  font-size: 87.5%;
}
.nav-item:hover {
  background-color: #f5f5f5;
}
.nav-item.active {
  background-color: #919191;
  color: white;
  border-bottom: #919191;
  border-bottom-left-radius: 5px;
}
.nav-item.first {
  border-bottom: 6px solid #e3350d;
}
.nav-item.first:hover {
  background-color: #e3350d;
  color: #ffffff;
  transition-duration: 0.8s;
}
.nav-item.second {
  border-bottom: 6px solid #ee6b2f;
}
.nav-item.second:hover {
  background-color: #ee6b2f;
  color: #ffffff;
  transition-duration: 0.8s;
}
.nav-item.third {
  border-bottom: 6px solid #e6bc2f;
}
.nav-item.third:hover {
  background-color: #e6bc2f;
  color: #ffffff;
  transition-duration: 0.8s;
}
.nav-item.fourth {
  border-bottom: 6px solid #4dad5b;
}
.nav-item.fourth:hover {
  background-color: #4dad5b;
  color: #ffffff;
  transition-duration: 0.8s;
}
.nav-item.fivth {
  border-bottom: 6px solid #30a7d7;
}
.nav-item.fivth:hover {
  background-color: #30a7d7;
  color: #ffffff;
  transition-duration: 0.8s;
}
.nav-item.sixth {
  border-bottom: 6px solid #1b53ba;
  border-bottom-right-radius: 5px;
}
.nav-item.sixth:hover {
  background-color: #1b53ba;
  color: #ffffff;
  transition-duration: 0.8s;
}
.nav-item svg {
  display: block;
  margin: 0 auto 5px;
}
.user_dashboard {
  position: fixed;
  top: 170px;
  left: 26px;
  z-index: 1000;
  cursor: pointer;
}
.main_container {
  box-sizing: border-box;
  background: #fff url(container_bg.png);
  clear: both;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  padding-bottom: 20px;
}
.container {
  padding: 20px;
  padding-top: 40px;
  display: flex;
  background-color: #ffffff;
}
.img {
  border-radius: 5px;
  overflow: hidden;
  margin: 8px;
}
.img.duo {
  justify-content: center;
  display: flex;
  gap: 8px;
}
.img:hover {
  transform: translateY(-2px);
}
.cerousel {
  display: flex;
  margin-left: 35px;
}
.main_container.card{
  padding-top: 50px;
}
.recaptcha{
  position: fixed;
  bottom: 8px;
  right: -190px;
  border-radius: 5px;
  overflow: hidden;
}
.recaptcha:hover{
  right: -5px;
  transition: 0.4s;
}
footer{
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 50px;
  padding-bottom: 50px;
}
.footer_container{
  display: flex;
  justify-content: center;
}
.footer_img{
  max-width: 850px;
}
.box{
  width: 250px;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  border-right: 2px solid black;
}
hr{
  margin: 0px 10px;
  color: black;
}
.box>img{
  cursor: pointer;
  margin-bottom: 20px;
}
.footer_img>img{
  cursor: pointer;
}
.box.border{
  border: none;
}
a{
  color: #f5f5f5;
  text-decoration: none;
  font-family: 'Roboto', arial, sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 11px;

}
.box>a:hover{
  text-decoration: underline;
}
.box.first>a{
  font-weight: 500;
  font-size: 13px;
}
